<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <!--<appSettings>
    <add key="ParentTableName" value="Coach"/>
    <add key="ChildTableName" value="Client"/>
    <add key="ChildNumberOfColumns" value="6"/>
    <add key="ChildLabelNames" value="FirstName,LastName,Goal,Username,CoachId,City"/>
    <add key="ChildTextBoxContent" value="Teodora,Dan,Lose weight,2398,1,Cluj"/>
    <add key="ColumnNamesInsertParameters" value="@firstName,@lastName,@goal,@username,@coachId,@city"/>

    <add key="SelectParent" value="select * from Coach"/>
    <add key="SelectQuery" value="select * from Client"/>
    <add key="UpdateQuery" value="update Client set FirstName=@firstName,LastName=@lastName,Goal=@goal,Username=@username,CoachId=@coachId,City=@city where ClientId=@id"/>
    <add key="SelectChild" value="select * from Client where CoachId=@id"/>
    <add key="DeleteChild" value="delete from Client where ClientId=@id"/>
  </appSettings> -->
  
  <appSettings>
    <add key="ParentTableName" value="Dietician"/>
    <add key="ChildTableName" value="Article"/>
    <add key="ChildNumberOfColumns" value="4"/>
    <add key="ChildLabelNames" value="Title,About,DieticianId,Rating"/>
    <add key="ChildTextBoxContent" value="How to lose weight,Weight loss,1,4"/>
    <add key="ColumnNamesInsertParameters" value="@title,@about,@dieticianId,@rating"/>

    <add key="SelectParent" value="select * from Dietician"/>
    <add key="SelectQuery" value="select * from Article"/>
    <add key="UpdateQuery" value="update Article set Title=@title,About=@about,DieticianId=@dieticianId,Rating=@rating where ArticleId=@id"/>
    <add key="SelectChild" value="select * from Article where DieticianId=@id"/>
    <add key="DeleteChild" value="delete from Article where ArticleId=@id"/>
  </appSettings>
 
</configuration>